# 강수량, 수위 관측소
## 좌표(위도, 경도) 변환 코드
- 관측소 데이터에 DD 방식 컬럼 추가
- GPS의 정보의 경위도 좌표계의 표시방법 2가지:DD(Decimal Degree) 와 DMS(Degree Minutes Seconds) 방식
- 변환식은 DD = Degree + Minutes/60 + Seconds/3600
- Latitude(위도) => 36°27′08.0″N  -> 36.45222
- Longitude(경도) => 127°30′20.0″E -> 127.50556

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('C:\\jupyter_notebook_file\\NoonMap_origin\\NoonMap-Project\\data\\file_data\\수위_관측소.csv')
df2 = pd.read_csv('C:\\jupyter_notebook_file\\NoonMap_origin\\NoonMap-Project\\data\\file_data\\강수량_관측소_api.csv')

df1['tr_lat'] = 0
df1['tr_long'] = 0
df2['tr_lat'] = 0
df2['tr_long'] = 0

In [3]:
#위도경도 변환 함수
#위경도 변환 DD = Degree(앞 3자리) + Minutes(중간 2자리)/60 + Seconds/3600
def transform_location(frame, i):
        tmp_lat = frame['latitude'].loc[i].split('-')
        transform_lat = int(tmp_lat[0])+int(tmp_lat[1])/60+int(tmp_lat[2])/3600

        tmp_long = frame['longitude'].loc[i].split('-')
        transform_long = int(tmp_long[0])+int(tmp_long[1])/60+int(tmp_long[2])/3600
        
        frame['tr_lat'].loc[i] = transform_lat
        frame['tr_long'].loc[i] = transform_long
        
for i in range(len(df1)):
    transform_location(df1, i)
    
for i in range(len(df2)):
    transform_location(df2, i)

C:\Anaconda\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      138 non-null    int64
 1   station_code    138 non-null    int64
 2   station_name    138 non-null    object
 3   address         136 non-null    object
 4   etc_address     136 non-null    object
 5   longitude       138 non-null    object
 6   latitude        138 non-null    object
 7   zero_elevation  102 non-null    float64
 8   warning_wl      81 non-null     float64
 9   alarm_wl        81 non-null     float64
 10  pfh             84 non-null     float64
 11  tr_lat          138 non-null    float64
 12  tr_long         138 non-null    float64
dtypes: float64(6), int64(2), object(5)
memory usage: 14.1+ KB

In [4]:
df1.head(10)

,Unnamed: 0,station_code,station_name,address,etc_address,longitude,latitude,zero_elevation,warning_wl,alarm_wl,pfh,tr_lat,tr_long
0,97,1007604,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24,76.169,6.0,7.0,8.65,37.106667,127.433611
1,98,1007605,이천시(장호원교),경기도 이천시,장호원읍 장호원리 장호원교,127-38-07,37-06-54,56.683,4.0,5.0,5.60,37.115000,127.635278
2,100,1007615,여주시(원부교),경기도 여주시,점동면 원부리 원부교,127-38-03,37-09-45,50.945,5.5,6.5,8.69,37.162500,127.634167
3,101,1007617,여주시(삼합교),경기도 여주시,점동면 삼합리 삼합교,127-43-09,37-12-08,42.076,5.5,7.0,8.26,37.202222,127.719167
4,102,1007620,여주시(강천리),경기도 여주시,강천면 강천리 546-1,127-42-50,37-13-52,38.400,6.0,8.0,9.92,37.231111,127.713889
5,103,1007625,여주시(남한강교),경기도 여주시,우만동 99-5(구)남한강교,127-40-51,37-15-17,36.292,6.5,8.5,10.32,37.254722,127.680833
6,104,1007630,남한강,경기도 여주군,강천면 이호리,127-41-12,37-10-59,NaN,NaN,NaN,NaN,37.183056,127.686667
7,105,1007633,강천보(상류),경기도,여주시 단현동 47-3천,127-41-00,37-16-23,0.000,42.5,43.5,45.11,37.273056,127.683333
8,106,1007634,강천보(하류),경기도,여주시 강천면 이호리 523-2,127-41-05,37-17-01,0.000,NaN,NaN,44.25,37.283611,127.684722
9,107,1007635,여주시(여주대교),경기도 여주시,상동 여주대교,127-38-51,37-17-46,32.529,6.0,8.0,9.19,37.296111,127.647500

In [5]:
df1.tail(5)

,Unnamed: 0,station_code,station_name,address,etc_address,longitude,latitude,zero_elevation,warning_wl,alarm_wl,pfh,tr_lat,tr_long
133,289,1201653,아라서해갑문(외),인천광역시 서구,경서로 31번길 1,126-36-5,37-33-37,NaN,NaN,NaN,NaN,37.560278,126.601389
134,290,1201654,아라서해갑실(북),인천광역시 서구,경서로 31번길 1,126-36-10,37-33-40,NaN,NaN,NaN,NaN,37.561111,126.602778
135,291,1202630,반월2,경기도 안산시,장상2동,126-52-30,37-20-54,35.374,NaN,NaN,NaN,37.348333,126.875000
136,292,1202660,반월1,경기도 안산시상록구 성포동,노적봉공원내,126-51-25,37-19-22,10.475,NaN,NaN,NaN,37.322778,126.856944
137,293,1202670,남양(외),경기도 평택시 포승면,원정리,126-48-00,37-00-02,NaN,NaN,NaN,NaN,37.000556,126.800000

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    92 non-null     int64
 1   station_code  92 non-null     int64
 2   agency_name   92 non-null     object
 3   station_name  92 non-null     object
 4   address       92 non-null     object
 5   etc_address   91 non-null     object
 6   longitude     92 non-null     object
 7   latitude      92 non-null     object
 8   tr_lat        92 non-null     float64
 9   tr_long       92 non-null     float64
dtypes: float64(2), int64(2), object(6)
memory usage: 7.3+ KB

In [6]:
df2.head(10)

,Unnamed: 0,station_code,agency_name,station_name,address,etc_address,longitude,latitude,tr_lat,tr_long
0,87,10064030,환경부,양평군(양동주민자치센터),경기도 양평군,양동면 학둔지아래길 24 양동주민자치센터,127-45-05,37-25-28,37.424444,127.751389
1,97,10074010,환경부,양평군(양평교),경기도 양평군,양평읍 양근리 양평교,127-29-24,37-29-11,37.486389,127.490000
2,98,10074020,환경부,장호원,경기도 이천군 장호원읍,창전리 읍사무소,127-37-00,37-01-00,37.016667,127.616667
3,99,10074030,환경부,여주시(여주대교),경기도 여주시,상동 여주대교 상류 좌안,127-38-53,37-17-43,37.295278,127.648056
4,100,10074040,환경부,양평군(청운면사무소),경기도 양평군,청운면 용두로 170 청운면사무소,127-42-38,37-33-23,37.556389,127.710556
5,102,10074060,환경부,이천시(이천남초교),경기도 이천시,경충대로 2614번길 32 이천남초등학교,127-26-35,37-16-37,37.276944,127.443056
6,103,10074070,환경부,여주시(금당초교),경기도 여주시,가남읍 가남로 649 금당초등학교,127-36-20,37-11-51,37.197500,127.605556
7,104,10074080,환경부,안성시(삼죽초교),경기도 안성시,삼죽면 삼죽초교길 20 삼죽초등학교,127-22-28,37-04-36,37.076667,127.374444
8,105,10074090,환경부,이천시(장천초교),경기도 이천시,설성면 설성로 164-25 장천초등학교,127-31-39,37-08-45,37.145833,127.527500
9,106,10074100,환경부,여주시(주암리),경기도 여주시,북내면 주암길225-3 (구)주암분교,127-40-46,37-23-50,37.397222,127.679444

In [7]:
df2.tail(5)

,Unnamed: 0,station_code,agency_name,station_name,address,etc_address,longitude,latitude,tr_lat,tr_long
87,242,11014130,환경부,안성시(안성서운중교),경기도 안성시,서운면 바우덕이로 2 안성서운중학교,127-15-47,36-56-41,36.944722,127.263056
88,243,11014140,환경부,파주시(적암초교),경기도 파주시,적성면 율곡로 3042 적암초등학교,127-00-15,37-59-16,37.987778,127.004167
89,244,12014010,한국수자원공사,아라인천TM,인천광역시 서구 오류동,1580-2,126-37-6,37-33-50,37.563889,126.618333
90,245,12024010,환경부,안산시(안산호동초교),경기도 안산시,상록구 성호로 70 안산호동초등학교,126-51-52,37-18-44,37.312222,126.864444
91,246,12024020,환경부,안산시(장상동),경기도 안산시,상록구 장상동 523 (동막골),126-52-51,37-21-03,37.350833,126.880833

In [10]:
df1.to_csv('수위관측소_좌표변환.csv')
df2.to_csv('강수량관측소_좌표변환.csv')