In [1]:
import pandas as pd

In [2]:
gyo_df = pd.read_csv(r"C:\Users\Shin\Desktop\for-kr-pjt\NoonMap-Project\data\file_data\교량.csv")

In [3]:
gyo_df

,Unnamed: 0,교량명,시도명,시군구명,교량시작점위도,교량시작점경도,교량종료점위도,교량종료점경도,교량높이
0,0,진위교,경기도,평택시,37.100899,127.064133,37.101935,127.063864,4.6
1,1,풍계교,경기도,이천시,37.133443,127.602141,37.133710,127.601766,4.5
2,2,태평교,경기도,여주시,37.200325,127.545522,37.200578,127.545179,3.0
3,3,장평교,경기도,이천시,37.225055,127.524158,37.225717,127.523299,4.0
4,4,풍계교,경기도,이천시,37.149231,127.626386,37.148733,127.626393,7.0
...,...,...,...,...,...,...,...,...,...
5438,5438,인천신항교,인천광역시,연수구,37.348628,126.659157,37.350676,126.663295,17.3
5439,5439,아암1교,인천광역시,연수구,37.419259,126.634377,37.419820,126.637932,5.1
5440,5440,아암2교,인천광역시,연수구,37.429930,126.623233,37.426764,126.623265,5.0
5441,5441,아암3교,인천광역시,중구,37.431460,126.614248,37.429514,126.614258,5.3
5442,5442,연도교,인천광역시,옹진군,37.655434,125.713257,37.655486,125.713936,2.9

In [4]:
gyo_df = gyo_df.drop(columns=['Unnamed: 0', '교량종료점위도', '교량종료점경도'])

In [5]:
gyo_df

        교량명    시도명 시군구명    교량시작점위도     교량시작점경도  교량높이
0       진위교    경기도  평택시  37.100899  127.064133   4.6
1       풍계교    경기도  이천시  37.133443  127.602141   4.5
2       태평교    경기도  여주시  37.200325  127.545522   3.0
3       장평교    경기도  이천시  37.225055  127.524158   4.0
4       풍계교    경기도  이천시  37.149231  127.626386   7.0
...     ...    ...  ...        ...         ...   ...
5438  인천신항교  인천광역시  연수구  37.348628  126.659157  17.3
5439   아암1교  인천광역시  연수구  37.419259  126.634377   5.1
5440   아암2교  인천광역시  연수구  37.429930  126.623233   5.0
5441   아암3교  인천광역시   중구  37.431460  126.614248   5.3
5442    연도교  인천광역시  옹진군  37.655434  125.713257   2.9

[5443 rows x 6 columns]

In [11]:
gyo_df = gyo_df.rename({'교량명':'bridge_name', '시도명':'address', '시군구명':'etc_address',
        '교량시작점위도':'latitude', '교량시작점경도':'longitude', '교량높이':'brid_height_origin'}, axis=1)

In [17]:
location_start = [[gyo_df["latitude"][i],gyo_df["longitude"][i]] for i in range(len(gyo_df))]

In [18]:
gyo_df["location_start"] = location_start

In [19]:
from haversine import haversine

In [20]:
wl_station_df = pd.read_csv(r"C:\Users\Shin\Desktop\for-kr-pjt\NoonMap-Project\data\file_data\수위_관측소.csv")

In [21]:
wl_station_df.isna().sum()

Unnamed: 0      0
station_code    0
station_name    0
address         0
etc_address     0
longitude       0
latitude        0
location        0
dtype: int64

In [22]:
wl_station_df = wl_station_df.drop(["Unnamed: 0"], axis=1)

In [23]:
def location(x,i: int,list_name):
    list0 = str(x['latitude'][i]).split('-')
    list1 = str(x['longitude'][i]).split('-')
    DD1 = int(list0[0]) + int(list0[1])/60 + int(list0[2])/3600
    DD2 = int(list1[0]) + int(list1[1])/60 + int(list1[2])/3600
    list_name.append([DD1,DD2])

In [24]:
loc_list_wl = []
for i in range(0, len(wl_station_df)):
    location(wl_station_df,i, loc_list_wl)

In [25]:
wl_station_df["location"] = loc_list_wl

In [27]:
wl_station_code = []
def closest_station1(x):
    for i in range(len(gyo_df)):
        min_index = 0
        for j in range(len(wl_station_df)):
            a = haversine(gyo_df['location_start'][i], wl_station_df['location'][j])
            if j == 0:
                min_dist = a
            else:
                if a<=min_dist:
                    min_dist= a
                    min_index = j
        wl_station_code.append(wl_station_df['station_code'][min_index])

In [28]:
closest_station1(wl_station_df)

In [29]:
gyo_df["wl_station_code"] = wl_station_code

In [30]:
gyo_df

,bridge_name,address,etc_address,latitude,longitude,brid_height_origin,location_start,wl_station_code
0,진위교,경기도,평택시,37.100899,127.064133,4.6,"[37.100899, 127.06413300000001]",1101663
1,풍계교,경기도,이천시,37.133443,127.602141,4.5,"[37.133443, 127.60214099999999]",1007605
2,태평교,경기도,여주시,37.200325,127.545522,3.0,"[37.200325, 127.54552199999999]",1007615
3,장평교,경기도,이천시,37.225055,127.524158,4.0,"[37.225055, 127.52415800000001]",1007645
4,풍계교,경기도,이천시,37.149231,127.626386,7.0,"[37.149231, 127.62638600000001]",1007615
...,...,...,...,...,...,...,...,...
5438,인천신항교,인천광역시,연수구,37.348628,126.659157,17.3,"[37.34862800000001, 126.65915700000001]",1202660
5439,아암1교,인천광역시,연수구,37.419259,126.634377,5.1,"[37.419259000000004, 126.634377]",1201653
5440,아암2교,인천광역시,연수구,37.429930,126.623233,5.0,"[37.42993, 126.62323300000001]",1201653
5441,아암3교,인천광역시,중구,37.431460,126.614248,5.3,"[37.431459999999994, 126.614248]",1201653
5442,연도교,인천광역시,옹진군,37.655434,125.713257,2.9,"[37.655434, 125.71325700000001]",1201620

In [31]:
rain_station_df = pd.read_csv(r"C:\Users\Shin\Desktop\for-kr-pjt\NoonMap-Project\data\file_data\강수량_관측소.csv")

In [33]:
def location(x,i: int,list_name):
    list0 = str(x['latitude'][i]).split('-')
    list1 = str(x['longitude'][i]).split('-')
    DD1 = int(list0[0]) + int(list0[1])/60 + int(list0[2])/3600
    DD2 = int(list1[0]) + int(list1[1])/60 + int(list1[2])/3600
    list_name.append([DD1,DD2])

In [34]:
loc_list_rf = []
for i in range(0, len(rain_station_df)):
    location(rain_station_df, i, loc_list_rf)

In [35]:
rain_station_df["location"] = loc_list_rf

In [36]:
rf_station_code = []
def closest_station2(x):
    for i in range(len(gyo_df)):
        min_index = 0
        for j in range(len(rain_station_df)):
            a = haversine(gyo_df['location_start'][i], rain_station_df['location'][j])
            if j == 0:
                min_dist = a
            else:
                if a<=min_dist:
                    min_dist= a
                    min_index = j
        rf_station_code.append(rain_station_df['station_code'][min_index])

In [37]:
closest_station2(rain_station_df)

In [38]:
gyo_df["rf_station_code"] = rf_station_code

In [39]:
gyo_df

,bridge_name,address,etc_address,latitude,longitude,brid_height_origin,location_start,wl_station_code,rf_station_code
0,진위교,경기도,평택시,37.100899,127.064133,4.6,"[37.100899, 127.06413300000001]",1101663,11014010
1,풍계교,경기도,이천시,37.133443,127.602141,4.5,"[37.133443, 127.60214099999999]",1007605,10074090
2,태평교,경기도,여주시,37.200325,127.545522,3.0,"[37.200325, 127.54552199999999]",1007615,10074070
3,장평교,경기도,이천시,37.225055,127.524158,4.0,"[37.225055, 127.52415800000001]",1007645,10074070
4,풍계교,경기도,이천시,37.149231,127.626386,7.0,"[37.149231, 127.62638600000001]",1007615,10074070
...,...,...,...,...,...,...,...,...,...
5438,인천신항교,인천광역시,연수구,37.348628,126.659157,17.3,"[37.34862800000001, 126.65915700000001]",1202660,12024010
5439,아암1교,인천광역시,연수구,37.419259,126.634377,5.1,"[37.419259000000004, 126.634377]",1201653,12014010
5440,아암2교,인천광역시,연수구,37.429930,126.623233,5.0,"[37.42993, 126.62323300000001]",1201653,12014010
5441,아암3교,인천광역시,중구,37.431460,126.614248,5.3,"[37.431459999999994, 126.614248]",1201653,12014010
5442,연도교,인천광역시,옹진군,37.655434,125.713257,2.9,"[37.655434, 125.71325700000001]",1201620,12014010

In [40]:
gyo_df.to_csv("교량_기준_매칭.csv")