In [1]:
import pandas as pd

In [2]:
gyo = pd.read_csv(r'C:\Users\Shin\Desktop\for-kr-pjt\NoonMap-Project\data\file_data\교량과_가까운_수위관측소_매칭.csv')

In [3]:
gyo

,Unnamed: 0,bridge_name,address,etc_address,latitude,longitude,brid_height_origin,location_start,wl_station_code
0,0,진위교,경기도,평택시,37.100899,127.064133,4.6,"[37.100899, 127.064133]",1101663
1,1,풍계교,경기도,이천시,37.133443,127.602141,4.5,"[37.133443, 127.602141]",1007605
2,2,태평교,경기도,여주시,37.200325,127.545522,3.0,"[37.200325, 127.545522]",1007615
3,3,장평교,경기도,이천시,37.225055,127.524158,4.0,"[37.225055, 127.524158]",1007645
4,4,풍계교,경기도,이천시,37.149231,127.626386,7.0,"[37.149231, 127.626386]",1007615
...,...,...,...,...,...,...,...,...,...
5438,5438,인천신항교,인천광역시,연수구,37.348628,126.659157,17.3,"[37.34862800000001, 126.659157]",1202660
5439,5439,아암1교,인천광역시,연수구,37.419259,126.634377,5.1,"[37.419259, 126.634377]",1201653
5440,5440,아암2교,인천광역시,연수구,37.429930,126.623233,5.0,"[37.42993, 126.623233]",1201653
5441,5441,아암3교,인천광역시,중구,37.431460,126.614248,5.3,"[37.43146, 126.614248]",1201653
5442,5442,연도교,인천광역시,옹진군,37.655434,125.713257,2.9,"[37.655434, 125.713257]",1201620

In [4]:
wl = pd.read_csv(r'C:\Users\Shin\Desktop\for-kr-pjt\NoonMap-Project\data\file_data\수위_최종_전처리.csv')

In [5]:
gyo = gyo.drop(columns=['Unnamed: 0'])

In [6]:
wl = wl.drop(columns=['Unnamed: 0', 'address', 'etc_address'])

In [7]:
gyo

,bridge_name,address,etc_address,latitude,longitude,brid_height_origin,location_start,wl_station_code
0,진위교,경기도,평택시,37.100899,127.064133,4.6,"[37.100899, 127.064133]",1101663
1,풍계교,경기도,이천시,37.133443,127.602141,4.5,"[37.133443, 127.602141]",1007605
2,태평교,경기도,여주시,37.200325,127.545522,3.0,"[37.200325, 127.545522]",1007615
3,장평교,경기도,이천시,37.225055,127.524158,4.0,"[37.225055, 127.524158]",1007645
4,풍계교,경기도,이천시,37.149231,127.626386,7.0,"[37.149231, 127.626386]",1007615
...,...,...,...,...,...,...,...,...
5438,인천신항교,인천광역시,연수구,37.348628,126.659157,17.3,"[37.34862800000001, 126.659157]",1202660
5439,아암1교,인천광역시,연수구,37.419259,126.634377,5.1,"[37.419259, 126.634377]",1201653
5440,아암2교,인천광역시,연수구,37.429930,126.623233,5.0,"[37.42993, 126.623233]",1201653
5441,아암3교,인천광역시,중구,37.431460,126.614248,5.3,"[37.43146, 126.614248]",1201653
5442,연도교,인천광역시,옹진군,37.655434,125.713257,2.9,"[37.655434, 125.713257]",1201620

In [8]:
wl

,station_code,station_name,location,obs_date,WL
0,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 01:00:00,145.0
1,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 02:00:00,145.0
2,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 03:00:00,145.0
3,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 04:00:00,146.0
4,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 05:00:00,146.0
...,...,...,...,...,...
6686406,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-26 23:00:00,830.0
6686407,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-27 00:00:00,830.0
6686408,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-27 01:00:00,830.0
6686409,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-27 02:00:00,830.0
6686410,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-27 03:00:00,830.0

In [9]:
from datetime import datetime

In [10]:
wl['obs_date'] = pd.to_datetime(wl['obs_date'])

In [ ]:
# 교량 데이터와 하천 수위 데이터를 병합하기에는 메모리가 부족 -> 하천 수위 관측소와 가장 가까운 교량들만 남김

## 수위 관측소와 가장 가까운 교량 매칭

In [27]:
location_start = [[gyo["latitude"][i], gyo["longitude"][i]] for i in range(len(gyo))]

In [28]:
gyo["location_start"] = location_start

In [19]:
wl_station = pd.read_csv(r'C:\Users\Shin\Desktop\for-kr-pjt\NoonMap-Project\data\file_data\수위_관측소.csv')

In [20]:
wl_station.drop(['Unnamed: 0'], axis=1, inplace=True)

In [21]:
wl_station

,station_code,station_name,address,etc_address,longitude,latitude
0,1007604,안성시(한평교),경기도 안성시 일죽면,고은리 한평교,127-26-01,37-06-24
1,1007605,이천시(장호원교),경기도 이천시,장호원읍 장호원리 장호원교,127-38-07,37-06-54
2,1007615,여주시(원부교),경기도 여주시,점동면 원부리 원부교,127-38-03,37-09-45
3,1007617,여주시(삼합교),경기도 여주시,점동면 삼합리 삼합교,127-43-09,37-12-08
4,1007620,여주시(강천리),경기도 여주시,강천면 강천리 546-1,127-42-50,37-13-52
...,...,...,...,...,...,...
133,1201653,아라서해갑문(외),인천광역시 서구,경서로 31번길 1,126-36-5,37-33-37
134,1201654,아라서해갑실(북),인천광역시 서구,경서로 31번길 1,126-36-10,37-33-40
135,1202630,반월2,경기도 안산시,장상2동,126-52-30,37-20-54
136,1202660,반월1,경기도 안산시상록구 성포동,노적봉공원내,126-51-25,37-19-22
137,1202670,남양(외),경기도 평택시 포승면,원정리,126-48-00,37-00-02

In [22]:
def location(x,i: int,list_name):
    list0 = str(x['latitude'][i]).split('-')
    list1 = str(x['longitude'][i]).split('-')
    DD1 = int(list0[0]) + int(list0[1])/60 + int(list0[2])/3600
    DD2 = int(list1[0]) + int(list1[1])/60 + int(list1[2])/3600
    list_name.append([DD1,DD2])

In [23]:
loc_list_wl = []
for i in range(0, len(wl_station)):
    location(wl_station, i, loc_list_wl)

In [25]:
wl_station["location"] = loc_list_wl

In [15]:
from haversine import haversine

In [43]:
brid_location = []
def closest_station(x):
    for i in range(len(wl_station)):
        min_index = 0
        for j in range(len(gyo)):
            a = haversine(wl_station['location'][i], gyo['location_start'][j])
            if j == 0:
                min_dist = a
            else:
                if a<=min_dist:
                    min_dist= a
                    min_index = j
        brid_location.append(gyo['location_start'][min_index])

In [44]:
closest_station(wl_station)

In [45]:
brid_location

[[37.106555, 127.433259],
 [37.105885, 127.613184],
 [37.159696999999994, 127.63846699999999],
 [37.202726, 127.682934],
 [37.249148, 127.71462199999999],
 [37.254638, 127.681982],
 [37.18232800000001, 127.66285800000001],
 [37.283316, 127.690969],
 [37.283316, 127.690969],
 [37.295553999999996, 127.64733500000001],
 [37.341758, 127.62173500000002],
 [37.333887, 127.573802],
 [37.332203, 127.595871],
 [37.266363, 127.461983],
 [37.465737, 127.544126],
 [37.339853999999995, 127.548199],
 [37.42488400000001, 127.624324],
 [37.385467, 127.57429099999999],
 [37.37909000000001, 127.541261],
 [37.400764, 127.536751],
 [37.400764, 127.536751],
 [37.400764, 127.536751],
 [37.37682, 127.494879],
 [37.467116, 127.52663100000001],
 [37.485116999999995, 127.48183300000001],
 [37.515386, 127.64057],
 [37.522374, 127.37385400000001],
 [37.882531, 127.54781200000001],
 [37.87608, 127.527271],
 [37.825152, 127.521872],
 [37.755404, 127.41091999999999],
 [37.718469, 127.41058600000001],
 [37.725395, 127.40935],
 [37.733194, 127.410665],
 [37.718469, 127.41058600000001],
 [37.602706, 127.35067099999999],
 [37.337269, 127.24749399999999],
 [37.401072, 127.250684],
 [37.390994, 127.25719099999999],
 [37.397543, 127.301475],
 [37.426966, 127.3104],
 [37.471339, 127.293549],
 [37.530097, 127.28258400000001],
 [37.530097, 127.28258400000001],
 [37.542165000000004, 127.25214],
 [37.545303999999994, 127.244743],
 [37.545303999999994, 127.244743],
 [37.740351000000004, 127.195237],
 [37.708939, 127.183503],
 [37.692134, 127.16586799999999],
 [37.605924, 126.81701899999999],
 [37.649976, 127.151448],
 [37.645513, 127.14074699999999],
 [37.603814, 127.14796799999999],
 [37.545501, 127.109099],
 [37.52322, 127.10236200000001],
 [37.372309, 127.10325],
 [37.468243, 127.12156499999999],
 [37.502338, 127.07174599999999],
 [37.502338, 127.07174599999999],
 [37.502338, 127.07174599999999],
 [37.532163, 127.03420700000001],
 [37.726244, 127.06731299999998],
 [37.652931, 127.053595],
 [37.624321, 127.04984499999999],
 [37.585024, 127.07239399999999],
 [37.517925, 126.99173700000001],
 [37.513959, 126.956111],
 [37.513959, 126.956111],
 [37.415960999999996, 126.91113500000002],
 [37.452472, 126.89491399999999],
 [37.474349, 126.84565],
 [37.510542, 126.86709499999999],
 [37.531789, 126.759557],
 [37.605924, 126.81701899999999],
 [37.59735300000001, 126.797399],
 [37.59735300000001, 126.797399],
 [37.59735300000001, 126.797399],
 [37.525718, 126.760071],
 [37.535016999999996, 126.761499],
 [37.571803, 126.753285],
 [37.573448, 126.757438],
 [37.573448, 126.757438],
 [37.580726, 126.776421],
 [37.594085, 126.780905],
 [37.689547999999995, 126.679399],
 [37.760459000000004, 126.762124],
 [38.090662, 127.005839],
 [38.103751, 127.030524],
 [38.090662, 127.005839],
 [38.05546, 127.01520500000001],
 [38.123713, 127.26893500000001],
 [38.089889, 127.220786],
 [38.064815, 127.205552],
 [38.065938, 127.095523],
 [38.065938, 127.095523],
 [37.997104, 127.24598],
 [38.01762700000001, 127.211703],
 [38.017956, 127.141737],
 [38.017956, 127.141737],
 [38.088124, 127.079801],
 [38.032484000000004, 127.10239299999999],
 [38.032484000000004, 127.10239299999999],
 [38.031357, 127.075004],
 [37.881165, 127.03788],
 [37.984898, 127.070559],
 [38.008441, 127.05543300000001],
 [38.023016999999996, 126.98128200000001],
 [37.98589000000001, 126.91780200000001],
 [38.002292, 126.877618],
 [37.900220000000004, 126.74594099999999],
 [37.81653, 126.791999],
 [37.220805, 127.027899],
 [36.998490000000004, 127.326017],
 [37.004082000000004, 127.277821],
 [37.080861999999996, 127.266101],
 [36.9706, 127.169665],
 [37.107584, 127.183264],
 [36.982015000000004, 127.079246],
 [37.134157, 127.05634599999999],
 [37.123124, 126.998144],
 [37.095278, 127.051204],
 [37.101242, 127.03879099999999],
 [37.053018, 126.997501],
 [37.01753, 127.01833899999998],
 [36.985105, 127.013281],
 [36.966721, 126.96815],
 [36.942038000000004, 126.99203],
 [36.987967, 126.93831899999999],
 [36.987967, 126.93831899999999],
 [37.734059, 126.517421],
 [37.553795, 126.60824099999999],
 [37.553795, 126.60824099999999],
 [37.553795, 126.60824099999999],
 [37.553795, 126.60824099999999],
 [37.341295, 126.87141399999999],
 [37.32585200000001, 126.85658000000001],
 [37.009571, 126.817523]]

In [46]:
len(brid_location)

138

In [47]:
del_idx = [i for i in range(len(gyo)) if gyo['location_start'][i] not in brid_location]

In [48]:
gyoryang = gyo.drop(del_idx)

In [49]:
gyoryang

,bridge_name,address,etc_address,latitude,longitude,brid_height_origin,location_start,wl_station_code
16,궁안교(하),경기도,평택시,37.017530,127.018339,10.0,"[37.01753, 127.01833899999998]",1101675
56,안중고가차도,경기도,평택시,36.987967,126.938319,5.5,"[36.987967, 126.93831899999999]",1101696
76,이호육교,경기도,여주시,37.283316,127.690969,7.0,"[37.283316, 127.690969]",1007634
80,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604
104,진암교,경기도,이천시,37.105885,127.613184,4.7,"[37.105885, 127.613184]",1007605
...,...,...,...,...,...,...,...,...
5202,천상교,인천광역시,계양구,37.525718,126.760071,5.0,"[37.525718, 126.760071]",1019640
5228,강화교,인천광역시,강화군,37.734059,126.517421,11.0,"[37.734059, 126.517421]",1201620
5364,장도1교,인천광역시,서구,37.553795,126.608241,8.0,"[37.553795, 126.60824099999999]",1201652
5372,노오지JC램프C교,인천광역시,계양구,37.571803,126.753285,14.0,"[37.571803, 126.753285]",1019651
5377,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653

In [39]:
wl_df = wl.rename({'station_code':'wl_station_code'}, axis=1)

In [40]:
wl_df

,wl_station_code,station_name,location,obs_date,WL
0,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 01:00:00,145.0
1,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 02:00:00,145.0
2,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 03:00:00,145.0
3,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 04:00:00,146.0
4,1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 05:00:00,146.0
...,...,...,...,...,...
6686406,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-26 23:00:00,830.0
6686407,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-27 00:00:00,830.0
6686408,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-27 01:00:00,830.0
6686409,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-27 02:00:00,830.0
6686410,1201620,강화군(강화대교),"[37.731944444444444, 126.52222222222223]",2020-08-27 03:00:00,830.0

In [50]:
df = pd.merge(gyoryang, wl_df, on='wl_station_code')

In [51]:
df

,bridge_name,address,etc_address,latitude,longitude,brid_height_origin,location_start,wl_station_code,station_name,location,obs_date,WL
0,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 01:00:00,145.0
1,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 02:00:00,145.0
2,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 03:00:00,145.0
3,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 04:00:00,146.0
4,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 05:00:00,146.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7456997,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-26 22:00:00,238.0
7456998,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-26 23:00:00,230.0
7456999,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-27 00:00:00,238.0
7457000,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-27 01:00:00,230.0
7457001,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-27 02:00:00,237.0

In [55]:
df.to_csv('병합DB_1차.csv')

# 교량 데이터의 교량 높이 컬럼 보완
- 교량 높이 측정 기준: 교량 바닥판 최상면에서 지표면 또는 수면까지의 수직 방향 최장거리
- 수면의 높이를 구하기 위해 하천별로 수위 관측값의 최빈값을 사용

In [56]:
df = pd.read_csv('병합DB_1차.csv')

In [58]:
brid_list = pd.unique(df['location_start']).tolist() # 교량 위치별로

In [59]:
len(brid_list)

86

In [60]:
df_list = [df[df['location_start']==i] for i in brid_list]

In [160]:
for i in range(len(df_list)):
    print(df_list[i]['WL'].mode())

0    124.0
dtype: float64
0    97.0
dtype: float64
0    107.0
dtype: float64
0    107.0
dtype: float64
0    77.0
dtype: float64
0    109.0
dtype: float64
0    68.0
dtype: float64
0    62.0
dtype: float64
0    104.0
dtype: float64
0    260.0
dtype: float64
0    260.0
dtype: float64
0    11.0
dtype: float64
0    18.0
dtype: float64
0    76.0
dtype: float64
0    2517.0
dtype: float64
0    59.0
dtype: float64
0   -18.0
dtype: float64
0    31.0
dtype: float64
0    131.0
dtype: float64
0    110.0
dtype: float64
0    47.0
dtype: float64
0    285.0
dtype: float64
0   -30.0
dtype: float64
0    2528.0
dtype: float64
0    65.0
dtype: float64
0    79.0
dtype: float64
0   -14.0
dtype: float64
0    103.0
dtype: float64
0    36.0
dtype: float64
0    565.0
dtype: float64
0    83.0
dtype: float64
0    82.0
dtype: float64
0    198.0
dtype: float64
0    264.0
dtype: float64
0    77.0
dtype: float64
0    82.0
dtype: float64
0    255.0
dtype: float64
0   -3.0
dtype: float64
0    98.0
dtype: float64
0   -23.0
dtype: float64
0    29.0
dtype: float64
0    4754.0
dtype: float64
0    88.0
dtype: float64
0    100.0
dtype: float64
0   -5.0
dtype: float64
0    37.0
dtype: float64
0    37.0
dtype: float64
0    9.0
dtype: float64
0    47.0
dtype: float64
0    219.0
dtype: float64
0    200.0
dtype: float64
0    173.0
dtype: float64
0    61.0
dtype: float64
0    98.0
dtype: float64
0    16.0
dtype: float64
0   -19.0
dtype: float64
0    88.0
dtype: float64
0    76.0
dtype: float64
0    79.0
dtype: float64
0    8.0
dtype: float64
0    152.0
dtype: float64
0    86.0
dtype: float64
0    61.0
dtype: float64
0    16.0
dtype: float64
0    91.0
dtype: float64
0    151.0
dtype: float64
0    94.0
dtype: float64
0    175.0
dtype: float64
0   -32.0
dtype: float64
0   -23.0
dtype: float64
0    64.0
dtype: float64
0    46.0
dtype: float64
0   -52.0
dtype: float64
0    59.0
dtype: float64
0    102.0
dtype: float64
0    25.0
dtype: float64
0    139.0
dtype: float64
0    278.0
dtype: float64
0    144.0
dtype: float64
0    183.0
dtype: float64
0    47.0
dtype: float64
0    96.0
dtype: float64
0    317.0
dtype: float64
0    317.0
dtype: float64
0   -153.0
dtype: float64
0    239.0
dtype: float64

In [167]:
float(df_list[0]['WL'].mode()[0])

124.0

In [168]:
wl_mode = [float(df_list[i]['WL'].mode()[0]) for i in range(len(df_list))]

In [170]:
len(wl_mode)

86

In [171]:
mode_list = []
for i in range(len(df_list)):
    for j in range(len(df_list[i])):
        mode_list.append(wl_mode[i])

In [172]:
df['bridge_height'] = (df['brid_height_origin'] * 100) + mode_list # cm로 단위 통일

In [176]:
df

,Unnamed: 0,bridge_name,address,etc_address,latitude,longitude,brid_height_origin,location_start,wl_station_code,station_name,location,obs_date,WL,bridge_height
0,0,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 01:00:00,145.0,734.0
1,1,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 02:00:00,145.0,734.0
2,2,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 03:00:00,145.0,734.0
3,3,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 04:00:00,146.0,734.0
4,4,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 05:00:00,146.0,734.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7456997,7456997,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-26 22:00:00,238.0,1239.0
7456998,7456998,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-26 23:00:00,230.0,1239.0
7456999,7456999,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-27 00:00:00,238.0,1239.0
7457000,7457000,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-27 01:00:00,230.0,1239.0
7457001,7457001,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-27 02:00:00,237.0,1239.0

In [177]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [182]:
df

,bridge_name,address,etc_address,latitude,longitude,brid_height_origin,location_start,wl_station_code,station_name,location,obs_date,WL,bridge_height
0,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 01:00:00,145.0,734.0
1,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 02:00:00,145.0,734.0
2,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 03:00:00,145.0,734.0
3,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 04:00:00,146.0,734.0
4,한평교,경기도,안성시,37.106555,127.433259,6.1,"[37.106555, 127.433259]",1007604,안성시(한평교),"[37.10666666666667, 127.43361111111112]",2016-11-09 05:00:00,146.0,734.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7456997,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-26 22:00:00,238.0,1239.0
7456998,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-26 23:00:00,230.0,1239.0
7456999,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-27 00:00:00,238.0,1239.0
7457000,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-27 01:00:00,230.0,1239.0
7457001,굴포천교,인천광역시,계양구,37.580726,126.776421,10.0,"[37.580726, 126.776421]",1019653,벌말교,"[37.583333333333336, 126.77222222222223]",2020-08-27 02:00:00,237.0,1239.0

In [183]:
df.to_csv('병합DB_2차.csv')